hr{
    outline: 0px solid gray;
}

.radio-button {
    list-style-type: none;
    margin: -15px 0 0 0;
    padding: 0 0 10px 0;
  }
  
  .radio-button li {
    float: left;
    margin: 0 5px 0 0;
    width: fit-content;
    padding: 20px 40px 20px 20px;
    position: relative;
  }
  
  .radio-button label,
  .radio-button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .radio-button input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .radio-button input[type="radio"]:checked+label,
  .Checked+label {
    background: rgb(7, 70, 66);
    border: 2px solid #002f34;
    color: white;
  }
  
  .radio-button label {
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    z-index: 90;
  }
  
  .radio-button label:hover {
    background: rgb(7, 70, 66);
    border: 2px solid #002f34;
    color: white;
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
  }
  


  .add_photo{
      margin : 2px 2px 2px 2px;
      background-color: white;
      border: 2px solid black;
  }

  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    opacity: 0;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #002F34;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px#002F34;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }