.top{
    background-color: #F7F8F8;
    height: 70px;
}

#city{
    display: inline-block;
    margin-top: 10px;
    width: 25%;
    height: 49px;
    border: 2px solid #002F34;
}

#searchBox{
    height: 49px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 5px;
    display: inline-block;
    border: 2px solid #002F34;
}

#searchButton{
    margin-top: 10px;
    height: 49px;
    margin-left: -40px;
    margin-right: 90px;
}

#loginButton{
    margin-right: 70px;
    display: inline;
}

#sellButton{
    margin-left: -35px;
    margin-right: 20px;
    display: inline;
}

.head_btn{
    cursor: pointer;
    border-radius: 50%;

}

.head_btn:hover{
    cursor: pointer;
}

.black{
    color: black;
}

.loginButtons{
    border: 2px solid black;
}

.loginButtons:hover{
    border: 4px solid black;
}

.btnemail{
    color: black;
}

.btnemail:hover{
    color: white;
    text-decoration: none;
}




@media all and (min-width: 992px) {
    .navbar{ padding-top: 0; padding-bottom: 0; }
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
    .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
    
}

@media only screen and (max-width: 1000px) {
    #city{
        display: none;
       
    }
    #searchBox{
      display: none;
    }
    #searchButton{
       display: none;
    }
    
}

